apiVersion: apps/v1
kind: Deployment
metadata:
  name: f-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: abhishek661/frontend-service:latest
        ports:
        - containerPort: 3000

