apiVersion: apps/v1
kind: Deployment
metadata:
  name: booking-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: booking
  template:
    metadata:
      labels:
        app: booking
    spec:
      containers:
      - name: booking
        image: abhishek661/booking-service:latest
        ports:
        - containerPort: 5001

